@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  background-color: #000;

  font: normal 100%/1.5 sans-serif;
  color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.main {
  position: relative;
}

.button {
    display: inline-block;
    position: absolute;
    margin: 20px;
    overflow: hidden;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    text-align: center;
    line-height: 100px;
    text-decoration: none;
    color: #fff;
    transition: background-color, color, 500ms;
}

.button:hover {
    background-color: #fff;
    color: #000;
}

.green {
    background-color: #000;
    left: calc(50% - 135px);
}

.red {
    background-color: #F00;
    right: calc(50% - 135px);
}

.clock-face {
    height: 300px;
    width: 300px;
    background-image: url(../images/clock-face.svg);
    position: relative;
    top: 135px;
    left: calc(50% - 150px);
}

.hand-hour {
    transform: rotate(0deg);
    transform-origin: 50% 100%;
    transition: all 6s linear;
}
    
.hand-minute {
    transform: rotate(0deg);
    transform-origin: 50% 100%;
    transition: all 6s linear;
}

.clock-face:hover .hand-hour {
    transform: rotate(360deg);
}

.clock-face:hover .hand-minute {
    transform: rotate(4320deg);
}

.hand {
    width: 14px;
    position: absolute;
    left: calc(50% - 7px);
    bottom: calc(150px);
}

.center {
    width: 28px;
    position: absolute;
    left: calc(150px - 14px);
    bottom: calc(150px - 14px);
}


